/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;


/* latin */
@supports (font-variation-settings: 'wght' 100) {
  @font-face {
    font-family: 'Fira Code';
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/FiraCode-VF.woff2?v=2.0") format('woff');
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Inter-VF.woff2?v=3.11") format("woff2");
  }
  .font-hairline { font-variation-settings: 'wght' 100; }
  .font-thin { font-variation-settings: 'wght' 200; }
  .font-light { font-variation-settings: 'wght' 300; }
  .font-normal { font-variation-settings: 'wght' 400; }
  .font-medium { font-variation-settings: 'wght' 500; }
  .font-semibold { font-variation-settings: 'wght' 600; }
  .font-bold { font-variation-settings: 'wght' 700; }
  .font-extrabold { font-variation-settings: 'wght' 800; }
  .font-black { font-variation-settings: 'wght' 900; }
}

.bg-blend-excl {
    background-blend-mode: exclusion;
}

.tap-none {
  -webkit-tap-highlight-color: transparent;
}

html, body {
    @apply bg-gray-100;
    @apply min-h-full;
}

@media (prefers-color-scheme: dark){
    body {
        background-color: #121214;
    }
}

.transition-slower {
  transition-duration: 500ms;
}

.transition-slowest {
  transition-duration: 700ms;
}

.transition-opacity {
  transition-property: opacity;
}

.opacity-33 {
	opacity: .33;
}

.hyphens-auto {
    hyphens: auto;
}

:root {
    --blue: #99aadd;
    --teal: #aabbaa;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.rounded-px {
    border-radius: 1px;
}

.desaturate { filter: saturate(75%) }
.bg-blur {
  backdrop-filter: blur(8px) saturate(70%);
  background-color: rgba(255,255,255,0.55);
}
input[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-6 -6 36 36' fill='none' stroke='%23f8fff8' stroke-width='3.5' stroke-linecap='butt' stroke-linejoin='arcs'%3e%3cpolyline points='20 6 9 17 4 12'%3e%3c/polyline%3e%3c/svg%3e")
}
@media(prefers-color-scheme: dark) {
  html { background-color: black; }
  .bg-blur {
    backdrop-filter: blur(8px) saturate(70%) contrast(80%);
    background-color: rgba(30,30,30,0.55);
  }
}
input, select {
  -webkit-appearance: none;
}